body{
    align-items: center;
    align-content: center;
    color: white;
    background-color: black;
    align-self: center;
}

.nonologo{
    align-items: center;
    /*margin-left: 5px;
    margin-right: 5px;*/
    height: 50px;
}